---
import Socials from "./Socials";

const currentYear = new Date().getFullYear();
---

<footer>
  <small class="copyright">
    <span>Copyright &#169; {currentYear}</span>
    <span>All rights reserved.</span>
  </small>
  <Socials centered />
</footer>

<style lang="scss">
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--cmm-color-border-base);
    padding: 1rem 0;
  }
  .copyright {
  }
</style>
