.container {
  padding-block-end: 3rem;
}

.input-group {
  --cmm-Input-start-decor-width: 2rem;
  width: 100%;

  svg {
    $size: 1.1rem;
    width: $size;
    height: $size;
    stroke-width: 2.5;
    color: var(--cmm-color-font-subtle);
  }
}
