---
import { Tag } from "@camome/core/Tag";

export interface Props {
  name: string;
  size?: "sm" | "lg";
}

const { name, size = "sm" } = Astro.props;
---

<Tag
  component="a"
  href={`/tags/${name.toLowerCase()}`}
  startDecorator="#"
  colorScheme="neutral"
  variant="outline"
  className="container"
>
  <span>{name.toLowerCase()}</span>
</Tag>

<style lang="scss">
  .container {
    border-radius: var(--cmm-radius-sm);

    &:hover {
      background: var(--cmm-color-surface-2);
    }
  }
</style>
