---
import Breadcrumbs from "@components/Breadcrumbs.astro";

export interface Props {
  pageTitle: string;
  pageDesc?: string;
  className?: string;
}

const { pageTitle, pageDesc, className } = Astro.props;
---

<Breadcrumbs className="breadcrumbs" />
<main id="main-content" class={className}>
  <h1>{pageTitle}</h1>
  <p>{pageDesc}</p>
  <slot />
</main>

<style>
  .breadcrumbs {
    margin-block-start: 1rem;
  }

  h1 {
    font-size: var(--cmm-font-size-4xl);
    font-weight: var(--cmm-font-weight-bold);
    margin-block-start: 1.5rem;
    line-height: 1;
  }

  p {
    margin-block-start: 1rem;
    margin-block-end: 2rem;
  }
</style>
