---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Card from "@components/Card";
import slugify from "@utils/slugify";
import type { CollectionEntry } from "astro:content";
import { ArrowButtonLink } from "@components/ArrowButtonLink";

export interface Props {
  pageNum: number;
  totalPages: number;
  posts: CollectionEntry<"blog">[];
}

const { pageNum, totalPages, posts } = Astro.props;

const prev = pageNum > 1 ? "" : "disabled";
const next = pageNum < totalPages ? "" : "disabled";
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main
    pageTitle="Posts"
    pageDesc="All the articles I've posted."
    className="main"
  >
    <ul class="stack">
      {
        posts.map(({ data }) => (
          <Card href={`/posts/${slugify(data)}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  {
    totalPages > 1 && (
      <nav class="pagination" aria-label="Pagination">
        {prev === "disabled" ? (
          <div />
        ) : (
          <ArrowButtonLink
            direction="prev"
            href={`/posts${pageNum - 1 !== 1 ? "/" + (pageNum - 1) : ""}`}
          >
            Prev
          </ArrowButtonLink>
        )}
        {next === "disabled" ? (
          <div />
        ) : (
          <ArrowButtonLink direction="next" href={`/posts/${pageNum + 1}`}>
            Next
          </ArrowButtonLink>
        )}
      </nav>
    )
  }
  <Footer />
</Layout>

<style>
  .main {
    padding-bottom: 2rem;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
</style>
